.engage-like__icon {
    display: block;
    transition: all 0.2s;
}

.engage-like {
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: left;

    &:hover {
        color: var(--cl-primary-300);
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:active .engage-like__icon {
        transform: scale(0.85);
    }
}
