@use "../../../../assets/mixins/media";

.post-engagements {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 8px;
    color: var(--cl-main-400);

    @include media.media(null, sm) {
        font-size: 0.875rem;
    }
}
