.post-text {
    white-space: pre-wrap;
}

.post-text__link {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -4px;
    margin-bottom: -4px;
    color: var(--cl-accent-200);
    text-decoration: none;
}

.post-text__link:hover {
    text-decoration: underline;
}
