.atview-inline-code {
    padding: 0.1em 0.2em;
    margin: -0.05em 0.2em;
    font-family: var(--font-mono);
    font-size: 0.9em;
    background-color: color-mix(in srgb, var(--cl-main-800) 30%, transparent);
    border: 1px solid color-mix(in srgb, var(--cl-main-800) 40%, transparent);
    border-radius: 0.2em;
}
