.feed-card {
    display: block;
    overflow: clip;
}

.feed-card__header {
    display: flex;
    gap: 8px;
    align-items: center;
}

.feed-card__avatar {
    width: 40px;
    height: 40px;
    border-radius: 999px;
}

.feed-card__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
}

.feed-card__handle {
    margin-top: 4px;
    font-size: 14px;
    line-height: 1;
    color: var(--cl-main-200);
}

.feed-card__description {
    margin-top: 8px;
}

.feed-card__likes {
    margin-top: 8px;
    color: var(--cl-main-300);
}

.feed-card__likes-count {
    font-weight: 600;
}
