.editor-wysiwyg {
    padding: 16px;
    line-height: 1.5;
    text-wrap: wrap;
    white-space: pre-wrap;
    background-color: color-mix(in srgb, var(--cl-main-900) 30%, transparent);
    border: 1px solid color-mix(in srgb, var(--cl-main-800) 40%, transparent);

    &:hover {
        border-color: color-mix(in srgb, var(--cl-main-100) 90%, transparent);
    }
}

.editor-wysiwyg span[data-tag="h2"] {
    display: block;
    margin-block: 12px;
    font-size: 28px;
    font-weight: 700;
}

.editor-wysiwyg span[data-tag="h3"] {
    display: block;
    margin-block: 12px;
    font-size: 24px;
    font-weight: 700;
}

.editor-wysiwyg span[data-tag="blockquote"] {
    display: block;
    padding: 8px 0 8px 12px;
    margin-block: 12px;
    font-style: italic;
    border-left: 3px solid color-mix(in srgb, var(--cl-main-200) 70%, transparent);
}

.editor-wysiwyg span[data-tag="h4"] {
    display: block;
    margin-block: 12px;
    font-size: 20px;
    font-weight: 700;
}

.editor-wysiwyg span[data-tag="h5"] {
    display: block;
    margin-block: 8px;
    font-size: 18px;
    font-weight: 700;
}

.editor-wysiwyg span[data-tag="h6"] {
    display: block;
    margin-block: 8px;
    font-size: 16px;
    font-weight: 700;
}

.editor-wysiwyg span[data-tag="i"],
.control-i {
    font-style: italic;
}

.editor-wysiwyg span[data-tag="b"],
.control-b {
    font-weight: 700;
}

.editor-wysiwyg span[data-tag="u"],
.control-u {
    text-decoration: underline;
}

.editor-wysiwyg span[data-tag="code"],
.control-code {
    font-family: var(--font-mono);
}

.editor-wysiwyg span[data-tag="code"] {
    padding: 1px 2px;
    margin: -1px 2px;
    background-color: color-mix(in srgb, var(--cl-main-800) 50%, transparent);
    border: 1px solid color-mix(in srgb, var(--cl-main-800) 40%, transparent);
    border-radius: 4px;
}

.editor-wysiwyg span[data-tag="link"] {
    color: var(--cl-accent-200);
    text-decoration: underline;
    text-decoration-color: color-mix(in srgb, var(--cl-accent-200) 50%, transparent);
    transition:
        text-decoration-color 0.1s ease-in-out,
        color 0.1s ease-in-out;

    &:hover {
        color: var(--cl-accent-300);
        text-decoration-color: var(--cl-accent-300);
    }
}

.editor-wysiwyg span[data-tag="br"] {
    display: block;
    height: 1em;
}

.editor-wysiwyg span[data-tag="bsky-post"] {
    display: block;
    padding: 12px;
    margin-block: 16px;
    background-color: color-mix(in srgb, var(--cl-main-800) 30%, transparent);
    border: 1px solid color-mix(in srgb, var(--cl-main-800) 40%, transparent);
    border-radius: 8px;

    &::after {
        display: block;
        margin-top: 8px;
        font-size: 12px;
        color: var(--cl-main-500);
        content: attr(data-record);
    }
}

.editor-wysiwyg span[data-tag="media"] {
    &::before {
        display: block;
        width: 100%;
        aspect-ratio: var(--aspect-ratio, 16 / 9);
        margin-bottom: 8px;
        content: "";
        background-image: var(--preview-url);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    display: block;
    padding: 12px;
    margin-block: 16px;
    background-color: color-mix(in srgb, var(--cl-main-800) 30%, transparent);
    border: 1px solid color-mix(in srgb, var(--cl-main-800) 40%, transparent);
    border-radius: 8px;

    &::after {
        display: block;
        margin-top: 8px;
        font-size: 12px;
        color: var(--cl-main-500);
        content: attr(data-record);
    }
}

.editor-wysiwyg span[data-tag="code-block"] {
    display: block;
    padding: 12px;
    margin-block: 16px;
    background-color: color-mix(in srgb, var(--cl-main-800) 30%, transparent);
    border: 1px solid color-mix(in srgb, var(--cl-main-800) 40%, transparent);
    border-radius: 8px;

    &::after {
        display: block;
        margin-top: 8px;
        font-size: 12px;
        color: var(--cl-main-500);
        content: attr(data-record);
    }
}

.editor-wysiwyg-buttons {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    padding: 6px;
    background-color: color-mix(in srgb, var(--cl-main-900) 80%, transparent);
    border: 1px solid color-mix(in srgb, var(--cl-main-800) 40%, transparent);
    backdrop-filter: blur(10px);
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    padding: 0 6px;
    cursor: pointer;
    background-color: color-mix(in srgb, var(--cl-main-800) 10%, transparent);
    border: 1px solid color-mix(in srgb, var(--cl-main-500) 40%, transparent);
    border-radius: 4px;
    transition:
        border-color 0.1s ease-in-out,
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out;

    &:hover {
        border-color: color-mix(in srgb, var(--cl-main-100) 60%, transparent);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: color-mix(in srgb, var(--cl-main-500) 30%, transparent);
        border-color: color-mix(in srgb, var(--cl-main-500) 40%, transparent);
    }

    &._active {
        color: var(--cl-main-900);
        background-color: color-mix(in srgb, var(--cl-main-100) 90%, transparent);
        border-color: color-mix(in srgb, var(--cl-main-100) 90%, transparent);
    }
}
