.atview-unknown-block.atview-unknown-block {
    padding: 0.5em 1em;
    color: var(--cl-main-200);
    background-color: color-mix(in srgb, var(--cl-main-800) 30%, transparent);
    border: 1px solid color-mix(in srgb, var(--cl-main-800) 40%, transparent);
    border-radius: 4px;
}
